<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-configuration
        android:name="org.apache.http.legacy"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_isai_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_isai_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ISAIMobile"
        tools:targetApi="31">
        <activity
            android:name=".ui.about.AboutActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName=".ui.menu.MenuActivity"/>
        <activity
            android:name=".ui.help.HelpActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName=".ui.menu.MenuActivity"/>
        <activity
            android:name=".ui.menu.MenuActivity"
            android:exported="false"
            android:label="@string/title_activity_menu"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>